@font-face {
    font-family: open-sans;
    src: url("../Fonts/OpenSans/OpenSans-Regular.ttf");
}

body{
    font-family: open-sans;
    margin: 0;
    background-color: #f7f7f7;
}
#wrapper{
    position: absolute;
    width: 100%;
    height: 40px;
    background-color: #1e010f;
}

.nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.nav li{
    font-family: open-sans;
    line-height: 40px;
    display: inline-block;
    margin-right: 15px;
}

.nav a{
    color: white;
    list-style: none;
    text-decoration: none;
}

.nav a:hover{
    color: red;
    transition: .5s color;
    transition-timing-function: ease;
}

.nav a:active{
    color: red;
}

#gens img{
	width: 85%;
	display: block;
	margin: auto;
	transition: .4s;
}
#gens img:hover{
	transform: scale(1.025);
	transition: .4s;
	transition-timing-function: ease;
}

#bannerheader{
    width: 100%;
    height: 160px;
    top: 0px;
    z-index: 1;
    background: purple url("../Images/Banner.png") no-repeat center;
    background-size: cover;
}

.banner img{
    margin-top: 60px;
    padding-left: 30px;
    width: auto;
    height: auto;
}

#mainbody{
    margin: 40px 200px -20px;
    font-size: 20px;
    color: #1a1a1a;
    background: white;
    padding: 1px 15px 2px;
}
#mainbody b{
    font-size: 20px;
    color: #000000;
}
#mainbody a{
    text-decoration: none;
    color: #e45959;
}
#mainbody h1{
    text-align: center;
}
#mainbody img{
    display: block;
}

#contactme i{
    float: left;
    margin-right: 10px;
	margin-top: -2px;
	font-size: 30px;
}
#contactme p{
    overflow: auto;
}
#contactme ul{
    list-style: none;
}
#run a{
	text-decoration: none;
    color: #000000;
}
.formcont{
	padding-left: 40px;
}
#email{
	border-radius: 4px;
	background-color: #f8f8f8;
	height: 25px;
}

#issue{
	width: 96%;
	height: 200px;
	border-radius: 4px;
	background-color: #f8f8f8;
	resize: none;
}
#submit{
	background-color: #1e010f;
	border: none;
	color: white;
	padding: 16px 32px;
	text-decoration: none;
	margin: 10px 2px;
	cursor: pointer;

}

footer{
    max-width: 1550px;
    background: white;
}
